.header {
  .logo {
    width: 47%;
    text-align: left;
    img {
      width: 150px;
    }
  }
  .container {
    justify-content: flex-start !important;
  }
}

.color-light {
  color: #fff !important;
}
